{% extends 'base.html' %} {% load static %}{% block content %}
<!---->
<!--banner-->
<div class="banner-top">
    <div class="container">
        <h3>About</h3>
        <h4><a href="index.html">Home</a><label>/</label>About</h4>
        <div class="clearfix"> </div>
    </div>
</div>

<!-- faqs -->
<div class="about-w3 ">

    <!--about-->
    <div class="container">
        <div class="about">
            <div class="spec ">
                <h3>About</h3>
                <div class="ser-t">
                    <b></b>
                    <span><i></i></span>
                    <b class="line"></b>
                </div>
            </div>

            <div class="col-md-4 about-right">
                <img class="img-responsive" src="{% static 'template/images/ab.jpg'%}" alt="">
            </div>
            <div class="col-md-4 about-left">
                <p>Favshops is now available in your locality to provide your essential products with low cost as compare to market cost with some special discounts at your doorstep. </p>
                <p>No restrictions on Minimum order amount ,10 rupees orders also delivered on same day.</p>
            </div>
            <div class="col-md-4 about-right">
                <img class="img-responsive" src="{% static 'template/images/ab1.jpg' %}" alt="">
            </div>

            <div class="clearfix"> </div>
        </div>
    </div>


    <div class="faq-w3 ">
        <div class="container">
            <div class="spec ">
                <h3>Shipping</h3>
                <div class="ser-t">
                    <b></b>
                    <span><i></i></span>
                    <b class="line"></b>
                </div>
            </div>
            <div class="panel-group" id="accordion">
                <!-- First Panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title" data-toggle="collapse" data-target="#collapseOne">
                            <span>1.</span> What are the delivery charges?
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p> A delivery charge is the cost of transporting or delivering goods.</p>
                            <p> <b>Order Amount</b> <b style="margin-left: 5px;">Delivery Charge</b> </p>
                            <p> Below 100 <span style="margin-left: 40px;">10</span></p>
                            <p> 100 - 200 <span style="margin-left: 50px;">15</span></p>
                            <p> 200 - 350 <span style="margin-left: 50px;">20</span></p>
                            <p> 350 - 500 <span style="margin-left: 50px;">25</span></p>
                            <p> Above 500 <strong style="margin-left: 40px;">Free</strong></p>
                        </div>
                    </div>
                </div>

                <!-- Second Panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title" data-toggle="collapse" data-target="#collapseTwo">
                            <span>2.</span> How can i get free delivery in Favshops ?
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>You don't need to pay any delivery charges of your order amount above 500. </p>
                        </div>
                    </div>
                </div>

                <!-- Third Panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title" data-toggle="collapse" data-target="#collapseThree">
                            <span>3.</span> What is the estimated delivery time?
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p><strong>Same Day Delivery</strong> </p>
                            <p>Order placed before 9.30 AM will be delivered between 10 AM to 1 PM.</p>
                            <p>Order placed after 9.30 AM and before 4.30 PM will be delivered between 5 PM to 8 PM.</p>
                            <p>We offer same day delivery of your products, only for the products ordered after 5 PM will be delivered next morning .</p>
                        </div>
                    </div>
                </div>
                <!-- Fourth Panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title" data-toggle="collapse" data-target="#collapseFour">
                            <span>4.</span> Why I have not received my Product yet ? </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p> If you are not received your products within our estimated delivery time period then you can contact us direactly on <a href="tel:8480124631">8480124631</a></p>

                        </div>
                    </div>
                </div>
                <!-- Fifth Panel -->
                <!--<div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title" data-toggle="collapse" data-target="#collapseFive">
                            <span>5.</span>How do I take advantage of FREE shipping?
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                                a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                                Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to
                                use a passage.</p>
                        </div>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title" data-toggle="collapse" data-target="#collapseSix">
                            <span>6.</span>Why have I not received my product yet?
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to
                                use a passage.</p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                                a type specimen book. </p>
                            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing. </p>
                        </div>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title" data-toggle="collapse" data-target="#collapseSeven">
                            <span>7.</span> There are many variations of passages ?
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College
                                in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes
                                from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.</p>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>


<!--advantages-->
<div class="container">
    <div class="advantages">
        <div class="col-md-6 advantages-left ">
            <h3>Your Advantages</h3>
            <div class="advn-one">
                <div class="ad-mian">
                    <div class="ad-left">
                        <p>1</p>
                    </div>
                    <div class="ad-right">
                        <h4><a href="single.html">Same Day Delivery</a></h4>
                        <p>Product will be delivered on the same day of order placed. </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="ad-mian">
                    <div class="ad-left">
                        <p>2</p>
                    </div>
                    <div class="ad-right">
                        <h4><a href="single.html">Cash On Delivery <strong>( COD )</strong></a></h4>
                        <p>You can pay using Debit Card, Credit Card, Phonepy, Google pay, Paytm and Cash On Delivery is also available for all the products.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="ad-mian">
                    <div class="ad-left">
                        <p>3</p>
                    </div>
                    <div class="ad-right">
                        <h4><a href="single.html">Easy Cancellation and Return</a></h4>
                        <p>You can cancel your products during the time of delivery also without any cancellation fees, you have to pay only the delivery charge.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="ad-mian">
                    <div class="ad-left">
                        <p>3</p>
                    </div>
                    <div class="ad-right">
                        <h4><a href="single.html">No Minimum order amount</a></h4>
                        <p>We don't have any restrictions on minimum order amount, we will also deliver your product if your order amount is 10 rupees only.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="ad-mian">
                    <div class="ad-left">
                        <p>3</p>
                    </div>
                    <div class="ad-right">
                        <h4><a href="single.html">Free Delivery</a></h4>
                        <p>We will take no delivery charges if your order amout will greater than 500.</p>
                        <p>A minium amout of delivery charges will be taken if your order amount below 500.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 advantages-left about-agi">
            <h3>Your Safty</h3>
            <div class="advn-two">
                <h4><a href="single.html"> Your personal details is 100% safe with our high security website Management.</a></h4>
                <p>We don't disclose any of your personal informations with no one, For your safety we take all the safty precautions for <strong>COVID-19</strong></p>
                <ul>
                    <li>
                        <a href="#"> <i class="fa fa-angle-right" aria-hidden="true"></i>We packed your products after wearing gloves.</a>
                    </li>
                    <li>
                        <a href="#"> <i class="fa fa-angle-right" aria-hidden="true"></i>We use sanitizer on regular basis at the time of packing and also sanitize your packed products before shipped.</a>
                    </li>
                    <li>
                        <a href="#"> <i class="fa fa-angle-right" aria-hidden="true"></i>We regularly check health and temperature of delivery boy going to deliver your products.</a>
                    </li>
                    <li>
                        <a href="#"> <i class="fa fa-angle-right" aria-hidden="true"></i>Our delivery boys always use Mask, Glouves and Sanitizer to deliver products safely. </a>
                    </li>
                    <li>
                        <a href="#"> <i class="fa fa-angle-right" aria-hidden="true"></i>No contact delivery, we maintain social distancing at the time of delivering your products.</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--advantages-->


<!-- // Terms of use -->
{% endblock %}