{% extends 'base.html' %}{% load static %} {% block content %}

<div class="banner-top">
    <div class="container">
        <h3>Cart</h3>
        <h4><a href="/">Home</a><label>/</label>Cart</h4>
        <div class="clearfix"> </div>
    </div>
</div>

<div class="login">

    <div class="main-agileits">
        <div class="form-w3agile">
            <h3>Your Cart</h3>
            {% if messages%}
            <h4 style="color: red;margin-bottom:5px;font-weight:bold;">{{messages}}</h4>
            {% endif %} {% if cart %} {% for obj in cart %}
            <div class="row" style="background-color:rgb(245, 240, 240);">
                <div class="col-6 col-sm-4"><img src="{{obj.product.image.url}}" alt="image" class="img-responsive" height="170" width="300"></div>
                <div class="col-8 col-sm-6">
                    <p style="margin-top: 3px;"><strong>Name</strong> : {{obj.product.product_name}}</p>
                    {% if obj.product.brand %}
                    <p><strong>Brand</strong> : {{obj.product.brand}}</p>
                    {% endif %}
                    <p><strong>Quantity</strong> : {{obj.product.quantity}}</p>
                    <p><strong>Actual Price</strong> : <strike>{{obj.product.mrp}}</strike></p>
                    <p><strong>Your Price</strong> : {{obj.product.discount_price}}</p>
                    <p><strong>Your Quantity</strong> : {{obj.customer_quantity}}</p>

                    <p style="margin-top: 5px;;"><a href="{% url 'delete_cart_item' pk=obj.pk %}"><span class="glyphicon glyphicon-remove" style="color: red;"></span> Remove </a> | <label for="quantity">Change Qty : </label>
                        <select name="quantity" class="customer_quantity" id="quantity{{obj.pk}}" data-pk="{{obj.pk}}">
                         <option value="{{obj.customer_quantity}}">{{obj.customer_quantity}}</option>
                         <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                        </select></p>
                </div>
                <!--<div class="col-6 col-sm-4"><a href="{% url 'delete_cart_item' pk=obj.pk %}"><span class="glyphicon glyphicon-remove" style="color: red;"></span></a></div>-->

            </div>

            <hr> {% endfor %}
            <!--<div class="forg">
                <a href=""><button class="btn btn-primary">Total Price</button></a>
            </div>-->
            <div class="forg" style="align-items: center;margin-top:3px;">
                <h4 class="forg-left" style="margin-bottom:20px;" id="total"> Total : {{total}}</h4>
                <div class="clearfix"></div>
            </div>
            {% else %}
            <h4>Your Cart is empty</h4>{% endif %}

        </div>
        <div class="forg">
            <a href="{% url 'index' %}" class="forg-left">Shop more</a> {% if cart %}
            <a href="{% url 'cart_checkout' %}" class="forg-right"> <button class="btn btn-primary">Check out</button> </a> {% endif %}
            <div class="clearfix"></div>
        </div>
    </div>
</div>

{% block javascript %}

<script type="text/javascript">
    $('.customer_quantity').change(function() {
        var val;
        var pk;
        pk = $(this).attr("data-pk");
        id = "#quantity" + pk
        val = $(id).val()
        $.ajax({
            url: '{% url "change_quantity" %}',
            data: {
                'pk': pk,
                'val': val,
            },
            dataType: 'json',
            success: function(data) {
                if (data.updated) {
                    document.getElementById('total').innerHTML = data.total;
                    document.getElementById(id).selectedIndex = val;
                }
            }
        })
    });
</script>

{% endblock %} {% endblock %}