{% extends 'base.html'%} {% load static %} {% block content %}
<!--banner-->
<div class="banner-top">
    <div class="container">
        <h3>Change Password</h3>
        <h4><a href="/">Home</a><label>/</label>Change Password</h4>
        <div class="clearfix"> </div>
    </div>
</div>
<!--login-->

<div class="login">

    <div class="main-agileits">
        <div class="form-w3agile">
            <h3>Change Password</h3>
            {% if messages%}
            <h4 style="color: red;margin-bottom:5px;font-weight:bold;">{{messages}}</h4>
            {% endif %}
            <h4 style="color: red;margin-bottom:5px;font-weight:bold;" id="pass_err_msg"></h4>
            <form action="{% url 'save_new_password' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="mobile_number" value="{{mobile_number}}">

                <div class="key">
                    <i class="fa fa-lock" style="color: lightseagreen;" aria-hidden="true"></i>
                    <input type="Password" name="password" id="password" required><span style="color: gray;font-weight:bold;">New Password</span>
                    <div class="clearfix"></div>
                </div>
                <div class="key">
                    <i class="fa fa-lock" style="color: lightseagreen;" aria-hidden="true"></i>
                    <input type="Password" name="password" id="cpassword" required><span style="color: gray;font-weight:bold;">Confirm Password</span>
                    <div class="clearfix"></div>
                </div>
                <input type="submit" value="Save and continue">
            </form>
        </div>

    </div>
</div>

{% block javascript %}

<script>
    $("#cpassword").keyup(function() {
        const password = document.getElementById('password');
        const cpassword = document.getElementById('cpassword');
        if (password.value === cpassword.value) {
            document.getElementById("pass_err_msg").style.color = "green";
            document.getElementById("pass_err_msg").innerHTML = "Password matched.";

        } else {
            document.getElementById("pass_err_msg").style.color = "red";
            document.getElementById("pass_err_msg").innerHTML = "Password didn't match.";
        }

    });
</script>

{% endblock %} {% endblock %}