{% extends 'base.html'%} {% load static %} {% block content %}
<!--banner-->
<div class="banner-top">
    <div class="container">
        <h3>Login</h3>
        <h4><a href="/">Home</a><label>/</label>Login</h4>
        <div class="clearfix"> </div>
    </div>
</div>
<!--login-->

<div class="login">

    <div class="main-agileits">
        <div class="form-w3agile">
            <h3>Forget Password</h3>
            {% if messages%}
            <h4 style="color: red;margin-bottom:5px;font-weight:bold;">{{messages}}</h4>
            {% endif %}
            <form action="{% url 'forget_password' %}" method="post">
                {% csrf_token %}
                <div class="key">
                    <i class="fa fa-mobile" style="color:darkorange;" aria-hidden="true"></i>
                    <input type="text" id="forget_mobile_number" name="forget_mobile_number" required><span style="color: gray;font-weight:bold;">Mobile Number</span>
                    <div class="clearfix"></div>
                </div>
                <h5 style="color: gray;margin-bottom:10px;">Enter your Registered <strong>Mobile number</strong> to get verification code on your associated <strong>email</strong>.</h5>
                <input type="submit" value="Send OTP">
            </form>
        </div>
        <div class="forg">
            <a href="{% url 'user_login' %}" class="forg-left">Login</a>
            <a href="{% url 'user_register' %}" class="forg-right">Register</a>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

{% block javascript %}

<script>
    $("#forget_mobile_number").unbind().change(function() {
        var number = $(this).val();
        $.ajax({
            url: '{% url "forget_password_ajax" %}',
            data: {
                'number': number
            },
            dataType: 'json',
            success: function(data) {

                if (data.length != 10) {
                    alert('Please enter a vaild mobile number');
                } else {
                    if (data.exist_num) {
                        console.log('Number exist');
                    } else {
                        alert("This number does not exist");
                    }
                }

            },

        })
    });
</script>


{% endblock %} {% endblock %}