 {% load static %}
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta property="og:title" content="Vide" />
    <meta name="keywords" content="Big store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //for-mobile-apps -->
    <link href="{% static 'template/css/bootstrap.css'%}" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="{% static 'template/css/style.css'%}" rel='stylesheet' type='text/css' />
    <!-- js -->
    <script src="{% static 'template/js/jquery-1.11.1.min.js'%}"></script>
    <!-- //js -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="{% static 'template/js/move-top.js'%}"></script>
    <script type="text/javascript" src="{% static 'template/js/easing.js'%}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <link href="{% static 'template/css/font-awesome.css'%}" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>

<body>
    <div class="login">

        <div class="main-agileits">
            <div class="logo text-center">
                <h1><a href="{% url 'index' %}" style="font-weight: bold;text-align:center;"><b>F<br>A<br>V</b>FAVShops<span>Your Family market</span></a></h1>
            </div>
            <div class="form-w3agile" style="margin-top: 10px;">

                <img src="{% static 'template/payment_fail01.jpg' %}" width="600" class="img img-responsive" alt="" style="margin-top: 5px;">
                <a href="{% url 'index' %}"> <button class="btn btn-success" style="text-align: center;margin-top:15px;"> Back to Home </button> </a>
                <a href="{% url 'cart_checkout' %}"> <button class="btn btn-info" style="text-align: center;margin-top:15px;"> Payment Page </button> </a>

            </div>
            <div class="forg">

                <a href="#" class="forg-left" style="margin-top: 5px;">Error :</a>
                <br>
                <ol>
                    <li>Payment status regarding your order Id {{response.ORDERID}}</li>
                    <li><span style="font-weight: bold;">STATUS : </span> Failure</li>
                    <li>{{response.RESPMSG}}</li>

                </ol>
                <div class="clearfix"></div>
            </div>

        </div>

    </div>
</body>

</html>