{% extends 'base.html'%}{% load static %} {% block content %}
<!---->
<!--banner-->
<div class="banner-top">
    <div class="container">
        <h3>Product</h3>
        <h4><a href="{% url 'index' %}">Home</a><label>/</label>Product</h4>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="single">
    <div class="container">
        <div class="single-top-main">
            <div class="col-md-5 single-top">
                <div class="single-w3agile">

                    <div id="picture-frame">
                        <img src="{{product.image.url}}" alt="" class="img-responsive" /> {% if product.out_of_stock == 'True' %}
                        <div class="offer">
                            <p><span>Not Available</span></p>
                        </div>
                        {% endif %}
                    </div>
                    <script src="{% static 'template/js/jquery.zoomtoo.js' %}"></script>
                    <script>
                        $(function() {
                            $("#picture-frame").zoomToo({
                                magnify: 1
                            });
                        });
                    </script>



                </div>
            </div>
            <div class="col-md-7 single-top-left ">
                <div class="single-right">
                    <h3>{{product.product_name}} ( {{product.quantity}})</h3>
                    {% if product.brand %}
                    <h4 style="color: grey;margin-top:3px;">{{product.brand}} </h4>
                    {% else %}
                    <h4 style="margin-top: 5px;color:gray;"> favshop</h4>
                    {% endif %}

                    <div class="pr-single">
                        <div class="mid-2">
                            {% if product.discount_percentage != "0" %}
                            <p style="color:black;"><label><span>&#8377;</span>{{product.mrp}}</label><em class="item_price"><span>&#8377;</span>{{product.discount_price}}</em><span style="margin-left: 10px;color:red;font-weight:bold;"> {{product.discount_percentage}} % OFF</span></p>

                            {% else %}
                            <p style="color:black;"><em class="item_price"><span>&#8377;</span>{{product.discount_price}}</em></p>
                            {% endif %}
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <p class="in-pa"> {{product.description}} </p>

                    <!--<ul class="social-top">
                        <li><a href="#" class="icon facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span></span></a></li>
                        <li><a href="#" class="icon twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span></span></a></li>
                        <li><a href="#" class="icon pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i><span></span></a></li>
                        <li><a href="#" class="icon dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i><span></span></a></li>
                    </ul>-->
                    <div class="add add-3">
                        {% if user.is_authenticated %} {% if product.out_of_stock == 'False' %}
                        <button class="btn btn-danger my-cart-btn my-cart-b btn-ajax" data-pid="{{product.pk}}">Add to Cart</button> {% else %}
                        <button class="btn btn-danger my-cart-btn my-cart-b " data-pid="{{product.pk}}" disabled>Add to Cart</button>{% endif %} {% else %}
                        <button class="btn btn-danger my-cart-btn my-cart-b " data-toggle="modal" data-target="#myModalopen">Add to Cart</button>{% endif %}
                    </div>



                    <div class="clearfix"> </div>
                </div>


            </div>
            <div class="clearfix"> </div>
        </div>


    </div>
</div>
<!---->
<div class="content-top offer-w3agile">
    <div class="container ">
        <div class="spec ">
            <h3>Related Items</h3>
            <div class="ser-t">
                <b></b>
                <span><i></i></span>
                <b class="line"></b>
            </div>
        </div>
        <div class=" con-w3l wthree-of">

            {% for item in related %}
            <div class="col-md-3 pro-1">
                <div class="col-m">
                    <a href="{% url 'product_details' pk=item.pk %}" class="offer-img">
                        <img src="{{item.image.url}}" style="height:150px;width:150px;" class="img-responsive" alt=""> {% if item.out_of_stock == 'True' %}
                        <div class="offer">
                            <p><span>Not Available</span></p>
                        </div>
                        {% endif %}

                    </a>
                    <div class="mid-1">
                        <div class="women">
                            <h6><a href="{% url 'product_details' pk=item.pk %}">{{item.product_name}}</a>( {{item.quantity}} )</h6>
                            {% if item.brand %}
                            <p style="margin-top: 5px;color:gray;">{{item.brand}}</p>
                            {% else %}
                            <p style="margin-top: 5px;color:gray;"> favshops</p>
                            {% endif %}
                        </div>
                        <div class="mid-2">
                            {% if item.discount_percentage != "0" %}
                            <p style="color:black;"><label><span>&#8377;</span>{{item.mrp}}</label><em class="item_price"><span>&#8377;</span>{{item.discount_price}}</em><span style="margin-left: 10px;color:red;font-weight:bold;"> {{item.discount_percentage}} % OFF</span></p>

                            {% else %}
                            <p style="color:black;"><em class="item_price"><span>&#8377;</span>{{item.discount_price}}</em></p>
                            {% endif %}
                            <div class="clearfix"></div>
                        </div>
                        <div class="add">
                            {% if user.is_authenticated %} {% if item.out_of_stock == 'False' %}
                            <button class="btn btn-danger my-cart-btn my-cart-b btn-ajax" data-pid="{{item.pk}}">Add to Cart</button> {% else %}
                            <button class="btn btn-danger my-cart-btn my-cart-b " data-pid="{{item.pk}}" disabled>Add to Cart</button>{% endif %} {% else %}
                            <button class="btn btn-danger my-cart-btn my-cart-b " data-toggle="modal" data-target="#myModalopen">Add to Cart</button>{% endif %}
                        </div>
                        <h6 id="msg{{item.pk}}" style="color: green;text-align:center;"></h6>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="clearfix"></div>
        </div>
    </div>
</div>


{% endblock %}