{% extends 'base.html' %}{% load static %}{% load widget_tweaks %} {% block content %}

<div class="banner-top">
    <div class="container">
        <h3>Profile</h3>
        <h4><a href="/">Home</a><label>/</label>Profile</h4>
        <div class="clearfix"> </div>
    </div>
</div>

<div class="login">

    <div class="main-agileits" style="background-color: rgb(197, 246, 248);">
        <div class="form-w3agile">
            {% if messages%}
            <h4 style="color: red;margin-bottom:5px;font-weight:bold;">{{messages}}</h4>
            {% endif %}
            <div class="row">
                <div class="col-6 col-sm-4"><img src="{% static 'template/boy.png' %}" alt="image" class="img-responsive" height="200" width="350"></div>
                <div class="col-8 col-sm-8">
                    <p style="margin-top: 3px;"><strong>Name</strong> : {{user.first_name}} {{user.last_name}}</p>
                    <p style="margin-top: 3px;"><strong>Email</strong> : {{user.email}} </p>
                    <p style="margin-top: 3px;"><strong>Contact No</strong> : {{user.mobile_number}}</p>
                </div>
            </div>

        </div>
        <div class="forg" style="margin-top: 10px;">
            <a href="{% url 'user_logout' %}"><button class="btn btn-danger my-cart-btn my-cart-btn1 "> Logout </button></a> {% if user.is_admin %}
            <a href="{% url 'admin_page' %}"><button class="btn btn-danger my-cart-btn my-cart-btn1 " > Admin Page </button></a> {% endif %} {% if user.is_delivery_boy %}
            <a href="{% url 'delivery_boy_page' %}"><button class="btn btn-warning my-cart-btn my-cart-btn1 " > Delivery </button></a> {% endif %}
            <div class="clearfix"></div>
        </div>
    </div>
</div>

{% endblock %}