{% extends 'base.html' %} {% block content%}
<div class="container mt-3">
    <h2 style="color: rgb(241, 6, 151);margin-top:70px;">Search Products</h2>
    <p style="color: black;"></p>
    <input class="form-control" id="myInput" type="text" style="margin-top: 5px;" placeholder=" Search..">
    <br>
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="table-success">
                <th style="font-size: 15px;font-weight:bold;">Product Image</th>
                <th style="font-size: 15px;font-weight:bold;">Product Details</th>

            </tr>
        </thead>
        <tbody id="myTable">
            {% for obj in products %}
            <tr>
                <td>
                    <a href="{% url 'product_details' pk=obj.pk %}" class="offer-img">
                        <img src="{{obj.image.url}}" style="height:150px;width:150px;" class="img-responsive" alt="">
                    </a>
                </td>
                <td>
                    <div class="mid-1">
                        <div class="women">
                            <h4><a href="{% url 'product_details' pk=obj.pk %}"> {{obj.product_name}} </a>( {{obj.quantity}})</h4>
                            {% if obj.brand %}
                            <h5>
                                <p style="margin-top: 5px;color:gray;">{{obj.brand}}</p>
                            </h5>
                            {% else %}
                            <h5>
                                <p style="margin-top: 5px;color:gray;"> favshops</p>
                            </h5>
                            {% endif %}
                        </div>
                        <div class="mid-2">
                            <h5>
                                <p style="color:black;"><label><span>&#8377;</span>{{obj.mrp}}</label><em class="item_price" style="font-weight: bold;margin-left:2px;"><span>&#8377;</span>{{obj.discount_price}}</em><span style="margin-left: 20px;color:red;font-weight:bold;"> {{obj.discount_percentage}} %</span></p>
                            </h5>

                            <div class="clearfix"></div>
                        </div>
                        <div class="add add-2">

                            {% if user.is_authenticated %}
                            <button class="btn btn-danger my-cart-btn my-cart-b btn-ajax" data-pid="{{obj.pk}}">Add to Cart</button> {% endif %}
                        </div>
                        <h6 id="msg{{obj.pk}}" style="color: green;text-align:center;"></h6>
                    </div>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>

</div>

{% block javascript %}
<script>
    $(document).ready(function() {
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<script type="text/javascript">
    $(".btn-ajax").click(function() {
        var pid;

        pid = $(this).attr("data-pid");
        console.log('Id', pid);

        $.ajax({
            url: '{% url "add_to_cart_ajax" %}',
            data: {
                'id': pid
            },
            dataType: 'json',

            success: function(data) {
                if (data.added) {
                    msg = "Successfylly Added to your cart.";
                    var msgid = 'msg' + pid
                    document.getElementById(msgid).innerHTML = msg;

                    setTimeout(function() {
                        document.getElementById(msgid).innerHTML = '';
                    }, 3000);
                    document.getElementById("cart_len").innerHTML = data.cart_len;
                }

            }
        })

    });
</script>

{% endblock %} {% endblock %}